POSTGRES_USER=your-postgres-user
POSTGRES_PASS=your-postgres-password
POSTGRES_DB=db_usuario

MAILTRAP_USER=your-mailtrap-user
MAILTRAP_PASS=your-mailtrap-password

MONGO_DB=db_agendador

JWT_SECRET=your-base64-encoded-secret-key-min-32-chars

CRON_USER_EMAIL=your-cron-admin-email
CRON_USER_PASSWORD=your-cron-admin-password
